<div class="container">
    <br/>
    <div class="mb-1">
        <h1>Vos infos : </h1>
        <p>Prénom : <%= @user.first_name %></p>
        <p>Nom : <%= @user.last_name %></p>
        <p>email : <%= @user.email %></p>
        <p>description : <%= @user.description %></p>
        <%= link_to "Editer mes infos", edit_user_path(@user.id), class: "btn btn-info" %>
        <%= link_to "Réinitialiser mon mot de passe", edit_user_registration_path(@user.id), class: "btn btn-info" %>
    </div>
</div><br/>
<div class="container">
    <div ><h1>Vos événements :</h1><br/>
    </div> 
    <div class="list-group">
        <% @user.administrated_events.sort {|a,b| b.start_date <=> a.start_date }.each do |event| %>
            <a href= <%= event_path(event.id) %> class="list-group-item list-group-item-action border-left border-info rounded-lg ">
                <div class="column">
                    <h5 class="mb-1 "><%= event.title%></h5>
                    <small><%= event.start_date.strftime("%Y-%m-%d %H:%M:%S") %> (<%= event.duration %> minutes) </small>
                </div>
            </a>
        <% end %>
    </div>    
</div>


<h3>Avatar actuel</h3>
<%if @user.profile_picture.attached? %>
  <%= image_tag @user.profile_picture, alt: 'profile_picture' %>
<%else%>
  <p>=== Il n'y a pas encore de photo de profil liée à cet utilisateurice ===</p>
<%end%>

<%= form_tag user_profile_pictures_path(@user),multipart: true  do %>
  <%= file_field_tag :profile_picture %>
  <%= submit_tag "Téléverser la photo de profil" %>
<% end %>