<div class="container">
    <br/>
    <div class="mb-1">
        <h1>Vos infos : </h1>
        <p>Prénom : <%= @user.first_name %></p>
        <p>Nom : <%= @user.last_name %></p>
        <p>email : <%= @user.email %></p>
        <p>description : <%= @user.description %></p>
        <%= link_to "Editer", edit_user_registration_path(@user.id), class: "btn btn-lg btn-primary" %>
    </div>
</div><br/>
<div class="container">
    <div ><h1>Vos événements :</h1><br/>
    </div> 
    <div class="list-group">
        <% @user.administrated_events.sort {|a,b| b.start_date <=> a.start_date }.each do |event| %>
            <a href= "#" class="list-group-item list-group-item-action border-left border-info rounded-lg ">
                
                    <h5 class="mb-1 "><%= event.title%></h5>
                    <small><%= event.start_date.strftime("%Y-%m-%d %H:%M:%S") %> (<%= event.duration %> minutes) </small>
            </a>
        <% end %>
    </div>    
</div>
