<div class="jumbotron bg-info text-white">
    <div class="container">
        <h1 class="diplay-3"> Eventbrite mais en mieux !</h1>
        <h3 class="diplay-5"> Participe aux meilleurs événements dans ta ville</h3>
    </div>
</div>

<div class="container text-center">
    <div ><h1>Nos événements</h1><br/>
    </div> 
    <%= link_to "test", root_path, class: 'page-link' %>
    <div class="list-group">
        <% @events.sort {|a,b| b.start_date <=> a.start_date }.each do |event| %>
            <a href= <%= event_path(event.id) %> class="list-group-item list-group-item-action border-left border-info rounded-lg ">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 "><%= event.title%></h5>
                    <small><%= event.start_date.strftime("%Y-%m-%d %H:%M:%S") %> (<%= event.duration %> minutes) </small>
                </div>
                <p class="mb-1 text-left"><%= event.description %></p>
                <p class="mb-1 text-left">lieu : <%= event.location %></p>
                <div class="d-flex w-100 justify-content-between">
                    <small>organisateur : <%= event.administrator.first_name %></small>
                    <small> <%= event.users.size %> participants </small>
                </div>
            </a>
        <% end %>
        <br/>
    </div>    
</div>

