<div class="container">
    <br/>
    <div class="mb-1">
        <h1> <%= @event.title %></h1>
        <p><%= @event.start_date %> | <%= @event.location %> | <%= @event.duration %> min.</p>
        <p><%= @event.description %></p>

        <% if is_administrator?(@event) %>
            <div class="btn btn-outline-info">
              
                <i class="fas fa-user-tie"></i>
                <span> Tu es l'organisateur de l'événement </span>
                
            </div>
            <%= link_to 'Mon espace évènement', event_attendances_path(@event), class: 'btn btn-info ml-3' %>
        <% else %>
            <p class="small">Organisé par <%= link_to @event.administrator.first_name, user_path(@event.administrator.id) %></p>
            <% if is_attending?(@event) %>
                 <div class="btn btn-outline-info">
                    <i class="fas fa-user-check"></i>
                    <span> Tu participes à cet événement </span>
                </div>
            <% else %>
                <div class = "row">
                    <i class="fas fa-user-plus"></i>
                    <span> Participer </span>
                    <%= form_tag event_attendances_path(@event.id) do %>
                        <article>
                            <% if flash[:error].present? %>
                            <div id="error_explanation">
                                <p><%= flash[:error] %></p>
                            </div>
                            <% end %>
                            <%= hidden_field_tag(:user_id, current_user.id) %>
                            <%= hidden_field_tag(:event_id, @event.id) %>
                            <label class="amount">
                            <span>- prix : <%= @event.price %> € </span>
                            </label>
                        </article>
                        <% if @event.price %>
                          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                  data-description="A month's subscription"
                                  data-amount=<%= @event.price*100 %>
                                  data-locale="auto"></script>
                        <% else %>
                          <%= button_tag(type: 'submit', class: 'btn btn-info') do %>
                            <i class="fas fa-user-plus"></i>
                            <span class= 'ml-3'>Moi aussi !</span>
                          <% end %>

                            
                            
                          </div>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>
</div><br/>