<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title) %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- styles using assets pipeline -->
      <link href="vendor/assets/stylesheets/bootstrap.css" rel="stylesheet">
      <link href="vendor/assets/stylesheets/modern-business.css" rel="stylesheet">
    <!-- /styles_assets_pipeline -->

    <script src="https://kit.fontawesome.com/f1f069f515.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-brand"> <%= link_to "BetterEventBrite", events_path, class: "navbar-brand" %></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to "Evénements", events_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Nouvel événement", new_event_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if user_signed_in? %>
          <%= current_user.email %>
          <!-- displaying miniature profile picture in navbar if user is connected and has profile picture -->
          <% if current_user.profile_picture.attached? %>
            <%= image_tag current_user.profile_picture, { :alt => 'profile picture', :height => 30, :width => 30, :class => 'rounded-circle ml-3' } %>
          <% end %>
        <% else %>
          Mon Compte 
        <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <%= link_to "Voir le profil", user_path(current_user.id), class: "dropdown-item" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <% else %>
            <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
            <%= link_to "Créer un compte", new_user_registration_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
    </nav>

    <!-- Test component from Modern business template-->
      <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a>
    <!-- /test_component-->
    
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %> %" role="alert"><%= message %></div>
    <% end %>

    <% if flash[:logout] != nil %>
      <div class="alert alert-warning" role="alert"><%= flash[:logout] %></div>
    <% end %>
    
    <%= yield %>

    <!-- Boostrap core JS using assets pipeline -->
      <script src="vendor/javascripts/jquery.js"></script>
      <script src="vendor/javascripts/bootstrap.bundle.js"></script>
    <!-- /bootstrap_js -->
  </body>

</html>
